<div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                
                <h2 class="title">SSE Airtricity Premiere Division Teams</h2>
                <!--Sidebar content-->
                
                Search: <input ng-model="query">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Oldest</option>
                    <option value="-age">Newest</option>
                </select>
                
            </div>
            <div class="span10">
                <!--Body content-->
                
                <ul class="teams">
                    <li ng-repeat="team in teams | filter:query | orderBy:orderProp" class="list team-listing">
                        <a href="#/teams/{{team.id}}"><img ng-src="{{team.imageUrl}}" class="thumb"><p>{{team.name}}</p><span>{{team.nickname}}</span><span class="arrow-icon"></span></a>
                        
                    </li>
                </ul>
                
                <!--<ul class="teams">
                    <li ng-repeat="team in teams | filter:query | orderBy:orderProp" class="thumbnail team-listing arrow-icon">
                        <a href="#/teams/{{team.id}}" class="thumb"><img ng-src="{{team.imageUrl}}"></a>
                        <a href="#/teams/{{team.id}}">{{team.name}}</a>
                        <p>{{team.nickname}}</p>
                    </li>
                </ul>-->
            
            </div>
        </div>
    </div>